<% provide(:title, 'Sign up') %>

<h1>Sign up </h1>
<div>
	<%=form_for @user, :url => "/users" do |f| %>
	
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
	
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%=f.label :email  %>
	<%= f.text_field :email %>
	
	<%=f.label :password  %>
	<%= f.password_field :password %>
	
	<%=f.label :password_confirmation, "Password Confirmation"  %>
	<%=  f.password_field :password_confirmation %>
	
	<%=f.submit "Join"  %>
	<%end  %>


<% provide(:title, "Log in")%> 
<h1>Log in</h1>

 <%= form_for @session, :url => '/session/create' do |f| %>
   <%= f.label 'email' %>
   <%= f.text_field :email , class: 'form-control' %><br>
   <%= f.label 'password' %>
   <%= f.password_field :password, class: 'form-control' %><br>
   <%= submit_tag 'login', class: "btn btn-primary" %>
 <% end %>

	<% if flash[:error] %>
		<%=  flash[:error]%>
		
	<% end %>

	

</div>